<%- include('./partials/header') %>

<div id="main-one">
    <h1>Welcome to Sleepy Time</h1>
    <h3>Keep track, fall back and relax</h3>
    <h3>We will keep you on a healthy path towards better sleep</h3>
</div>

<%- include('./partials/footer') %>